.selected-page {
  background-image: url("../../pexels-gabriel-peter-696644.jpg");
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.selected-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1200px;
  margin: 30px auto;
}
.selected-empty{
  height: 100vh;
}