.App {
  background-image: url("../../pexels-gabriel-peter-696644.jpg");
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.cart-list{
  display: flex;
  align-items: center;
  gap: 30px;

  &__btn{
    cursor: pointer;
  }
}