.form{
  margin: 150px auto 0;
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  background: rgb(100, 100, 100) radial-gradient(circle at 50% 0, rgba(255, 255, 255, .65), rgba(255, 255, 255, .35));
  box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
  inset rgba(252, 255, 255, .7) 0 3px 8px,
  rgba(0, 0, 0, .8) 0 3px 8px -3px;
}
.input{
  width: 400px;
  margin: 10px 45px;
  height: 15px;
  padding: 10px;
  border-radius: 10px;
  background: lightgrey;
  font-family: 'Otomanopee One', sans-serif;
  outline: none;
}
.title{
  font-family: 'Otomanopee One', sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: brown;
  border-bottom: 1px solid brown;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
.btn{
  width: 150px;
  height: 50px;
  margin: 10px auto;
  display: block;
  border-radius: 30%;
  cursor: pointer;
  background: lightgrey;
  color: brown;
  font-family: 'Otomanopee One', sans-serif;
  font-weight: bold;
  font-size: 20px;
}